.article-entry {
  background: #fafafa;
}
.article-entry .blog-img {
  height: 250px;
  display: block;
}
@media screen and (max-width: 768px) {
  .article-entry .blog-img {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .article-entry .blog-img {
    height: 270px;
  }
}
.article-entry .desc {
  padding: 1.5em 1em;
  margin-bottom: 20px;
  padding-left: 40px;
  position: relative;
  height: 300px;
}
.article-entry .desc h2 {
  font-size: 20px;
}
.article-entry .desc h2 a {
  color: #000;
}
.article-entry .desc .meta {
  line-height: 1.4;
  text-transform: uppercase;
  position: absolute;
  top: -2.5em;
  left: 0;
  padding: 0.5em 0.7em;
  background: #ffc300;
}
.article-entry .desc .meta span {
  display: block;
  color: #fff;
  font-weight: 700;
}
.article-entry .desc .meta .day {
  font-size: 30px;
  position: relative;
}
.article-entry .desc .meta .month {
  font-size: 16px;
  font-weight: 600;
}
.article-entry .desc .admin {
  margin-bottom: 20px;
}
.article-entry .desc .admin span:last-child {
  color: #000;
}
